*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #191919;
    
}

html, body{
    height: 100%;
}


.clear{
    clear: both;
}

.container{
    width:100%;
}

/****header***************/

.profile{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    margin: 30px;
}

.profile h2{
    font-size:50px;
}

/**********sobre*************/

.sobre{
    text-align: center;

}

.sobre h2{
    padding: auto;
    font-size: 40px;
}

.sobre p{
    padding: 10px;
    margin: 30px;
    font-size: 25px;
    background-color:#808080;
    
}

/*****************projetos***************/

.projetos{
    text-align: center;
}

.projetos h2{
    font-size: 40px;
}

.projetos p{
    font-size: 25px;
    padding: 40px;
}   


/***********Contato***************/

.contato{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.contato h2{
    padding: 20px;
    font-size:35px;
}

.contato ul{
    list-style: none;
    border: 1px solid #ccc;
    padding: 20px;
}

.contato a{
    color: #808080;
}